@import './../jspm_packages/npm/pragma-views@0.0.11/scss/normalize';
@import './../jspm_packages/npm/pragma-menu@1.0.16/pragma-menu.scss';

// Required utility css
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/variables';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/colors';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/mixins';

// Application spesific css
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/app';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/states';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/layout';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/typography';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/pragma-tabsheet';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/group';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/input-composite';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/input';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/textarea';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/select';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/master-detail';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/list';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/card';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/md-card';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/buttons';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/layout-table';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/switch';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/menu';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/icons';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/assistant';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/hr';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/form-search';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/ul';
@import './../jspm_packages/npm/pragma-views@0.0.11/scss/lib/pragma-messages';

@import './lib/file-list';

.CodeMirror {
  height: 100%;
}

.width600 {
  max-width: 600px;

}

.inline {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.fullsize {
  white-space: nowrap;
}

router-view {
  position: relative;
}

.toolbar {
  @include flex();
  justify-content: flex-end;
}

.primary-action {
  background: #50E3AC;
  margin-left: $default-padding;
}