<template>
    <pragma-menu ref="pragmaMenu">
        <div slot="menu-content" class="main-menu">
            <ul role="menu" click.delegate="menuSelected($event)">
                <li repeat.for="menuItem of menuItems" role="menuitem">
                    <div class="mi" data-screen="${menuItem.screen}" data-resource="${menuItem.resource}">
                        <div class="mi-text">${menuItem.text}</div>
                    </div>
                </li>
            </ul>
        </div>
    </pragma-menu>
</template>
