<template>
    <div class="group" if.bind="!processRunning">
        <h3>Create new project options</h3>

        <input-composite id="currentPath" label="Path">
            <div>${webProject.currentProjectPath}</div>
        </input-composite>

        <div class="toolbar">
            <button click.delegate="cancel()">Cancel</button>
            <button click.delegate="createProject()" class="primary-action">Create Project</button>
            <button click.delegate="createWebProject()">Create Web Project</button>
            <button click.delegate="createCordovaProject()">Create Cordova Project</button>
            <button click.delegate="createElectronProject()">Create Electron Project</button>
        </div>
    </div>

    <div class="group" if.bind="processRunning">
        <h3>${description}</h3>
        <div class="suppressed">${details}</div>
    </div>
</template>