<template>
    <div class="group" if.bind="!processRunning">
        <h3>Create new project options</h3>

        <input-composite id="currentPath" label="Path">
            <div>${webProject.currentProjectPath}</div>
        </input-composite>

        <input-composite id="projectName" label="Project Name" isRequired="true">
            <input type="text" value.bind="webProject.packageJson.packageObject.name" autofocus/>
        </input-composite>

        <div class="align-items-right default-padding-right">
            <button click.delegate="cancel()">Cancel</button>
            <button click.delegate="createProject()">Create Project</button>
        </div>
    </div>

    <div class="group" if.bind="processRunning">
        <div>${description}</div>
    </div>
</template>