@import '../../jspm_packages/npm/pragma-views@0.0.11/scss/lib/mixins';

.icon-list {
  width: 10rem;
  border-right-style: solid;
  border-right-color: silver;
  margin-right: 1rem;
}

.icon-def {
  @include stretch();
}

.svg-preview-container {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1rem;

  svg {
  }
}