@import './../lib/variables';
@import './../lib/mixins';

router-view {
  @include stretch();
  overflow: auto;
  padding: $router-view-padding;
}

.application-layout {
  left: $router-view-left-padding;
  @include flex();
}
