@import './../lib/variables';
@import './../lib/mixins';

router-view {
  position: absolute;
  left: 0;
  top: $app-toolbar-height;
  right: 0;
  bottom: 0;
  @include overflow-scroll();
}

.app-toolbar h3 {
  margin-left: 2rem;
}