// Desktop
@import './../jspm_packages/npm/pragma-views@__version__/scss/desktop/input-composite';
@import './../jspm_packages/npm/pragma-views@__version__/scss/desktop/app';
@import './../jspm_packages/npm/pragma-views@__version__/scss/desktop/master-detail';
@import './../jspm_packages/npm/pragma-views@__version__/scss/desktop/menu';
@import './../jspm_packages/npm/pragma-views@__version__/scss/desktop/assistant';
@import './../jspm_packages/npm/pragma-views@__version__/scss/desktop/pragma-dropdown-menu';